{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <select name="symbol" class="form-control" aria-label="Default select example">
                <option disabled selected value="">Stock</option>
                {%for stock in stocklist%}
                    <option value="{{stock}}">{{stock}}</option>
                {%endfor%}
            </select>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Shares" type="number" min="1" max="">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}